* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    height: 100%;
    color: white;
    background: black;
    scroll-behavior: smooth;
}

.header {
    width: 100%;
    height: 100vh;
    background-size: 50%;
    background-position: right;
    background-repeat: no-repeat;
    background-image: url(/images/home.JPG);
}

.container {
    display: inline-block;
}

.navbar ul li {
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 10px;
    display: inline-block;
}

.navbar ul li a {
    color: white;
    font-size: 18px;
    position: relative;
    text-decoration: none;
}

.navbar ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    margin: auto;
    bottom: -5px;
    left: 0;
    right: 0;
    transition: 0.5s;
    background: rgb(0, 100, 255);
    position: absolute;
}

.navbar ul li a:hover::after {
    width: 100%;
}

.header-text {
    margin-top: 375px;
    margin-left: 125px;
    font-size: 25px;
}

.header-text h1 {
    font-size: 45px;
    overflow: hidden;
    border-right: 3px solid white;
    white-space: nowrap;
    margin: auto;
    animation: 
      typing 4s,
      blink-caret .75s step-end infinite;
  }
  
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white; }
  }

.header-text h1 span {
    color: rgb(0, 100, 255);
}

.about {
    padding: 80px 0;
    color: white;
    height: 100vh;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-1 {
    flex-basis: 45%;
}

.about-1 img {
    width: 75%;
    height: 100%;
    margin-left: 125px;
    border-radius: 100px;
}

.about-2 {
    margin-right: 100px;
    flex-basis: 45%;
}

.subtitle {
    margin-bottom: 15px;
    font-size: 45px;
    color: white;
}

.tab-titles {
    display: flex;
    margin-top: 25px;
}

.tab-links {
    margin-right: 45px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    margin: auto;
    bottom: -5px;
    left: 0;
    right: 0;
    transition: 0.5s;
    background: red;
    position: absolute;
}

.tab-links:hover::after {
    width: 100%;
}

.tab-links.active-link::after {
    width: 45%;
}

.tab-contents ul li {
    list-style: none;
    margin-top: 25px;
}

.tab-contents ul li span {
    color: red;
    font-size: 18px;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

.work {
    height: 100vh;
    padding: 5%;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 100px;
    margin-top: 45px;
}

.projects-list {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.projects-list img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.projects-list:hover img {
    transform: scale(1.1);
}

.projects-list:hover .layer {
    height: 100%;
}

.layer {
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0,0,0,0), rgb(0, 100, 255));
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 15px;
    transition: height 0.5s;
}

.layer h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 25px;
}

.layer a {
    margin-top: 20px;
    color: black;
    text-decoration: none;
    font-size: 20px;
    line-height: 60px;
    background-color: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.btn {
    display: inline-block;
    width: fit-content;
    font-size: 17px;
    border: none;
    padding: 5px 10px;
    border-radius: 15px;
    text-decoration: none;
    color: black;
    background: white;
    transition: background 0.5s;
}

.btn:hover {
    background: rgb(0, 100, 255);
}

.contact {
    color: white;
    text-align: center;
    position: relative;
    height: 90vh;
}

.contact-center form {
    width: 25%;
    display: inline-block;
}

form input, form textarea {
    text-align: center;
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: white;
    font-size: 16px;
    border-radius: 15px;
}

.socials i {
    color: white;
    padding: 0px 7px;
    font-size: 35px;
    margin-bottom: 15px;
    transition: transform 0.5s;
}

.socials i:hover {
    color: rgb(0, 100, 255);
    transform: translateY(-5px);
}

.copyright {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: bold;
    margin-top: 10px;
}