* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    color: white;
    height: 100%;
    background: black;
}

.header {
    width: 100%;
    height: 100vh;
    background-size: 50%;
    background-position: right;
    background-repeat: no-repeat;
    background-image: url(/images/home.JPG);
}

.container {
    display: inline-block;
}

.navbar ul li {
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 10px;
    display: inline-block;
}

.navbar ul li a {
    color: white;
    font-size: 18px;
    position: relative;
    text-decoration: none;
}

.navbar ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    margin: auto;
    bottom: -5px;
    left: 0;
    right: 0;
    transition: 0.5s;
    background: rgb(0, 100, 255);
    position: absolute;
}

.navbar ul li a:hover::after {
    width: 100%;
}

.header-text {
    margin-top: 375px;
    margin-left: 145px;
    font-size: 25px;
}

.header-text h1 {
    font-size: 45px;
    overflow: hidden;
    border-right: 3px solid white;
    white-space: nowrap;
    margin: auto;
    animation: 
      typing 4s,
      blink-caret .75s step-end infinite;
  }
  
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white; }
  }

.header-text h1 span {
    color: rgb(0, 100, 255);
}

.about {
    padding: 80px 0;
    color: white;

}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-1 {
    flex-basis: 45%;
}

.about-1 img {
    width: 75%;
    height: 100%;
    margin-left: 125px;
    border-radius: 100px;
}

.about-2 {
    margin-right: 100px;
    flex-basis: 45%;
}

.subtitle {
    margin-bottom: 15px;
    font-size: 45px;
    color: white;
}

.tab-titles {
    display: flex;
    margin-top: 25px;
}

.tab-links {
    margin-right: 45px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    margin: auto;
    bottom: -5px;
    left: 0;
    right: 0;
    transition: 0.5s;
    background: red;
    position: absolute;
}

.tab-links:hover::after {
    width: 100%;
}

.tab-links.active-link::after {
    width: 45%;
}

.tab-contents ul li {
    list-style: none;
    margin-top: 25px;
}

.tab-contents ul li span {
    color: red;
    font-size: 18px;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

.work {
    height: 100vh;
    padding: 5%;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 100px;
    margin-top: 45px;
}

.projects div {
    font-size: 13px;
    font-weight: bold;
}